<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/output.css">
    <title>Document</title>
</head>
<body>
        <nav class="container mx-auto p-6">
            <div class="flex item-center justify-between">
            <div>
               <h1 class="font-bold text-3xl hover:text-blue-600">Drive Flow</h1>
            </div>
            <div class="hidden md:flex space-x-6 items-center" >
                <a href="#" class="text-black hover:text-white">Home</a>
                <a href="#" class="text-black hover:text-white">Map</a>
                <a href="#" class="text-black hover:text-white">Agencies</a>
                <a href="#" class="text-black hover:text-white">Service</a>
                <a href="#" class="text-black hover:text-white">Contact</a>
                <a href="#">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        class="w-6 h-6 transition duration-300 ease-in-out hover:scale-110 hover:bg-blue-400 rounded-full"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"/>
                    </svg>
                    <a href="#" class="text-black hover:text-white transition duration-75 ease-in-out hover:scale-110 text-lg font-bold -py-4" >Login</a>
                    <a href="#" class="text-white font-bold transition duration-300 ease-in-out hover:scale-110 py-2 px-6 rounded-full hover:text-black bg-blue-500 hover:bg-white">Sing Up</a>
                </a>   
            </div>
        </div>
        </nav>
        <section id="hero">
            <div class="container flex flex-col-reverse md:flex-row space-x-6 px-6">
                <div class="md:w-1/2 flex flex-col text-center md:text-left space-y-5 py-8 justify-center pl-8">
                    <h1 class="font-bold text-3xl md:text-5xl"><span class="text-blue-500 font-bold">Lorem</span> ipsum dolor sit amet.</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestiae eum aliquam quaerat nesciunt nisi nostrum iusto voluptas necessitatibus tempore?</p>
                   <div class="container w-30 h-14 md:flex md:flex-row md:items-center space-x-3 flex-col ">
                    <a href="#" class="text-white self-center md:self-start font-bold transition duration-300 ease-in-out hover:scale-110 py-2 px-6 rounded-md hover:text-white bg-blue-500 hover:bg-yellow-500">Get Started</a>
                    <a href="#" class=" border border-black self-center md:self-start font-bold transition duration-300 ease-in-out hover:scale-110 py-2 px-6 rounded-md text-blue-500 hover:text-white bg-white hover:bg-yellow-500">Learn more</a>
                   </div>
                </div>
                <div class="md:w-1/2 "> 
                    <img src="../../../../dist/images/car-png-16835.png" alt="carImage" class=" transition duration-300 hover:scale-110" > 
                </div>
            </div>
        </section>
        </html>